--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
nvidia-cudnn-cu12==9.1.0.70

transformers==4.49.0
accelerate==1.4.0
bitsandbytes==0.46.0
autoawq==0.2.8
qwen-vl-utils[decord]==0.0.8

pandas==2.2.3
pillow==11.1.0
tqdm==4.67.1
